ion-content {
    --ion-background-color: rgb(70, 130, 180); 
}

.input-white {
    --ion-background-color: #fff; 
}

.purple-button {
    --ion-background-color: #9370db; 
  
   
    --ion-background-color-hover: #7b68ee; 
}
