<ion-header>
  <ion-toolbar>
    <ion-title>Listado de Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card-content *ngFor="let producto of productos">
      <ion-img [src]="producto.image"></ion-img>
      <ion-card-header>
        <ion-card-title>{{ producto.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <a [routerLink]="['producto/', producto.id]">Ver detalles</a>
      </ion-card-content>
    </ion-card-content>
  </ion-list>
</ion-content>






